* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "General Sans";
  background-color: black;
}

html,
body {
  width: 100%;
  height: 100%;
}

.mini-circle {
  width: 10px;
  height: 10px;
  position: absolute;
  border-radius: 50%;
  z-index: 99999;
  background-color: white;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.7s;
}
 
.main {
  width: 100%;
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: black;
}

.nav {
  width: 100%;
  padding: 2vw 3vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
  position: static;
  z-index: 4;
}

.nav a {
  color: white;
  font-size: 18px;
  text-decoration: none;
}

.heading {
  margin: 7vw 3vw;
  line-height: 0.9;
  color: rgba(255, 255, 255, 0.645);
}

.bound-box {
  width: fit-content;
  overflow: hidden;
}

.boundelem {
  transform: translateY(100%);
}

.heading h1 {
  font-size: 10vw;
  letter-spacing: 0.18vw;
}

#line2 {
  padding-left: 10.2vw;
}

.block {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: fit-content;
}

.block h5 {
  text-transform: uppercase;
  font-size: 15px;
  text-align: right !important;
}

.mid {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 100%;
  color: white;
  text-align: end;
  padding: 0vw 3vw;
  line-height: 2;
  margin-top: 8vw;
}

.mid h4 {
  font-size: 1.2vw;
}

.herofooter {
  padding: 0 2vw;
  width: 100%;
  position: absolute;
  bottom: 3%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.herofooter a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

.herofooter .iconset {
  display: flex;
  gap: 5px;
}

.herofooter .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #888;
  color: black;
}

.herofooter .circle i {
  background-color: #888;
}

.second {
  color: #fff;
  padding-right: 10vw;
  padding-top: 200px;
  background-color: black;
  width: 100%;
  height: 100vh;
}

.elem {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 3.5vw 3vw;
  padding: 3.5vw 0vw 0vw 0vw;
  border-top: 1px solid #888;
}

.elem:hover {
  color: #8888886c;
}

.elem:hover h1{
    transition: transform .8s ease;
    transform: translateX(10%);
}

.elem h1 {
  text-transform: uppercase;
  font-size: 7vw;
  opacity: 0.7;
}

.elemlast {
  padding-bottom: 3.5vw;
  border-bottom: 1px solid #888;
}

.elem img {
  opacity: 0;
  cursor: pointer;
  /* pointer-events: none; */
  height: 140%;
  z-index: 999;
  position: absolute;
  transform: translate(-50%, -50%);
}


.about {
  display: flex;
  align-items: center;
  gap: 50px;
  color: #fff;
  padding: 25vw 10vw 10vw 40vw;
  width: 100%;
  background-color: black;
}

.textabout {
  width: 25rem;
}

.textabout h5 {
  text-transform: uppercase;
  opacity: 0.6;
  margin-bottom: 10px;
}

.textabout p {
  line-height: 1.7;
  margin-bottom: 30px;
}

.about img {
  width: 200px;
}

.textabout a {
  padding: 12px 22px;
  border: 1px solid #fff;
  border-radius: 100px;
  color: #fff;
  font-size: 12px;
  text-decoration: none;
}

#subscribe {
  color: #fff;
  padding: 20px 30px;
  padding-bottom: 7vw;
  background-color: black;
}

#subscribe h5 {
  text-transform: uppercase;
  opacity: 0.6;
}

#subscribe h3 {
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 10px;
}

#footer {
  color: #fff;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 30px;
}

#footerleft {
  display: flex;
  gap: 20px;
}

#footerright {
  display: flex;
  gap: 30px;
}

#footer a {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
}
